//Header
@keyframes navHover {
    from {
        color: nth($list: $navHovColor, $n: 1);
        border-bottom: none ;
        text-shadow: nth($list: $navHovColor, $n: 2) 2px 2px;
    }
    to {
        border-bottom: 2.5px solid nth($list: $navHovColor, $n: 2);
        color: nth($list: $navHovColor, $n: 2);
        text-shadow: 0 0 11px nth($list: $navHovColor, $n: 2);
    }
}

//Main
@keyframes ttlMain {
    from {
        top: 100vh;
        opacity: 0;
    }
    to {
        top: 45vh;
        opacity: 1;
    }
}

//Forms
@keyframes btnForm {
    from {
        border-radius: 0;
        color: #000000;
        background-color: nth($list: $colorBtn, $n: 2);
    }
    to {
        border-radius:0 8px 0 8px;
        color: #ffffff;
        background-color: nth($list: $colorBtn, $n: 1);
    }
}

//Footer
@keyframes footNavHover {
    from {
        height: 36px;
    }
    to {
        height: 40px;
    }
}