// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kanit&family=Montserrat:wght@100;300&family=Poppins:ital,wght@1,100&display=swap');
// Poppins
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kanit&family=Montserrat:wght@100;300&family=Poppins:wght@100;300&display=swap');
// Kanit
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kanit:wght@100;200;300&family=Montserrat:wght@100;300&family=Poppins:wght@100;300&display=swap');

$fonts:
    'Montserrat',
    'Poppins',
    'Kanit';

$colorBtn: 
    #3e0064,
    #eec8ff;

$navHovColor:
    #757575,
    #ab39f3;