/*Footer*/
footer {
    padding: 1.25%;
    height: 10vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1.13rem;
        color: #ffffff;
        margin-bottom: 0;
    }
    .footNav {
        height: 100%;
        width: 15.8%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding-left: 0;
        a {
            height: 1.29vh;
            img {
                height: 36px;
                &:hover {
                    height: 40px;
                    animation: footNavHover 0.12s ease-in-out alternate;
                }
            }
        }
    }
}